#include-and-override=portlet-ext.properties

language.bundle=content.Language

#
# Input a list of comma delimited resource action configurations that will be
# read from the class path.
#
resource.actions.configs=resource-actions/default.xml

keyLocation=<jose4jkeylocation>
jwtIssuer=PULSE-US
jwtAudience=PULSE-US
jwtAllowedClockSkew=30
jwtExpirationTimeMinutesInTheFuture=30
jwtNotBeforeMinutesInThePast=4
portalUrl=https://localhost:3000
csvfile=/opt/pulse/users.csv
